{% extends '@!EasyAdmin/layout.html.twig' %}
{% block content%}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center">Paneau d'administration</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <img src="{{ asset('build/workInProgress.jpg') }}" alt="WIP">
            </div>
        </div>
    </div>
{% endblock %}
