<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ path('raid') }}">
        <img src="{{ asset('build/logo.png') }}" width="30" height="30" class="d-inline-block align-top" alt="logo">
    </a>
    <a href="">Mes personnages</a>
    <a href="">Se déconnecter</a>
</nav>
